Bomberman_AI.iml
misc.xml
modules.xml
vcs.xml
.idea/workspace.xml
aleatoria.txt
__pycache__/Tablero.cpython-36.pyc
aleatoria
__pycache__/Tablero.cpython-37.pyc
mapa1.txt
mapa3.txt
__pycache__/Graficar.cpython-37.pyc
pruebas.txt
__pycache__/Busqueda1.cpython-36.pyc
__pycache__/Funciones.cpython-36.pyc
__pycache__/Graficar.cpython-36.pyc
